.footer {
  /* position: fixed;
    bottom: 0; */
  background: #efefef;
  width: 100%;
  display: block;
  overflow: hidden;
  bottom: 0;
  left: 0;
  position: relative;
}
.footer h1 {
  font-size: 60px;
  line-height: 62px;
}
.footer h2 {
  font-size: 50px;
  line-height: 52px;
}
.footer h3 {
  font-size: 40px;
  line-height: 42px;
}
.footer h4 {
  font-size: 22px;
  line-height: 24px;
  margin: 10px 0;
}
.footer h5 {
  font-size: 18px !important;
  line-height: 20px;
}
.footer .badge {
  background: #cb0074;
}
/* @media (max-width: 1024px) {
    .footer h3 {
        font-size: 40px;
    }
    .footer h4 {
        font-size: 33px;
    }
    .footer h5 {
        font-size: 24px;
    }
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }
}
@media (max-width: 767px) {
    .footer h1 {
        font-size: 44px;
    }
    .footer h2 {
        font-size: 40px;
    }
    .footer h3 {
        font-size: 32px;
    }
    .footer h4 {
        font-size: 30px;
    }
    .footer h5 {
        font-size: 20px;
    }
    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }
} */
